.header{
    border: 1px solid black;
    margin : 2%;
}

form{
    margin-left: 25%;
    margin-right: 25%;
}

.header img{
    width: 250px;
}

.header button{
    margin-left: 65%;
    height : 70px;
    width: 150px;
}

/* instruction */
.header+div>div{
    text-align: center;
}
span{
    color: red;
    font-size: x-small;
    margin-bottom: 0%;
}
